.wrapper{
    max-width: 1000px;
    margin: 0 auto ;
    text-align: center;
}
.header{
    background: blue;
    height: 60px;
}

.container{
    background: red;
    overflow: hidden;
    display: flex;
    height: 90px;
    align-items: center;
    flex-direction:row-reverse;
    flex-direction: column;
}

.menu{
    background: green;
    width: 30%;
    height: 80px;
    
   
}

.content{
    background: violet;
    width: 70%;
    height: 30px;
    
    
}
.footer{
    background: orange;
    height: 30px;
   
}